
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items:center;
    justify-content: center;
}


body {
    background-color: #1e1e1e;
    color: white;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../assets/background3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    padding-top: 100px;
}


.form-container {
    background-color: #2c2c2c;
    padding: 20px;
    margin-bottom: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 400px;
    justify-content: center;
    align-items: center;
}


h2 {
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
}

.form-label {
    font-size: 14px;
    font-weight: bold;
}


.form-control,
.form-select {
    background-color: #3a3a3a;
    color: white;
    border: 1px solid #444;
    font-size: 14px;
    padding: 8px;
    border-radius: 5px;
}


.form-control:focus,
.form-select:focus {
    background-color: #444;
    color: white;
    box-shadow: none;
    border-color: #666;
}


.form-check-input {
    background-color: #444;
    border: 1px solid #666;
}

.form-check-label {
    font-size: 14px;
}


.btn-success {
    background-color: #28a745;
    border: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: bold;
}

.btn-success:hover {
    background-color: #218838;
}

.form-check {
    margin-bottom: 5px;
}


.footer {
    background-color: #2c2c2c;
    color: white;
    text-align: center;
    padding: 20px;
}
